body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bbb1b1;
}

nav {
    background-color: #db9191;
    color: rgb(87, 52, 52);
    text-align: center;
    padding: 1em;
}

nav a {
    display: inline-block;
    color: rgb(122, 66, 66);
    text-decoration: none;
    padding: 14px 16px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #cf8181;
    color: black;
}

section {
    padding: 20px;
}

footer {
    background-color: #645454;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #333;
}

video {
    width: 100%;
    height: auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
}
